<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		{# jinja엔진은 include옵션을 사용하여 다른 html을 포함시켜 랜더링이 가능#}
		{% include ['a.html','b.html','mod/head.html'] ignore missing %} {#차례대로 순위대로 확인,없을때 ignore missing로 오류해결#}
	</head>
	<body>
		{# 상단바 #}
		{% include 'mod/tophead.html' %}
		<!-- start banner Area -->
		<section class="banner-area relative" id="home">	
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
							Job category				
						</h1>	
						<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="category.html"> Job category</a></p>
					</div>											
				</div>
			</div>
		</section>
		<!-- End banner Area -->	
		{# 상세 페이지 #}
		{% include 'pages/category_sub.html' %}
		<!-- End calto-action Area -->			
		{% include 'mod/copyright.html' %}
		{% include 'mod/foot.html' %}
	</body>
</html>



