<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        {% include ['a.html','b.html','mod/head.html'] ignore missing %}
    </head>
    <body>

        {# 상단바 #}
        {% include 'mod/tophead.html' %}
        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            (주)컬리
                        </h1>
                        <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                            <a href="elements.html"> (주)컬리</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->
        <div class="container col-md-9" style="background: #f5f9ff;">
            <div class="row">            
                <div class="section-top-border col-md-6"  style="float:left; padding-right:15px;">
                    <h3 class="mb-30">기업소개</h3>
                    <table style="font-size: 18px;">
                        <tr>
                            <th style="white-space: nowrap;  background-color: #dddddd;">기업명</th>
                            <th>(주)마켓컬리</th>
                            <!-- <th>Country</th> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">주력업종</td>
                            <td>전자상거래/농산물,식품,생활용품 도소매/농작업 대행,농업경영/식품,생활필수품 보관,농산물 소분제 포장</td>
                            <!-- <td>Germany</td> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">사원수</td>
                            <td>292명</td>
                            <!-- <td>Mexico</td> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">주소</td>
                            <td>서울 서초구 잠원동 37-7 성한빌딩 8~9층</td>
                            <!-- <td>Mexico</td> -->
                        </tr>
                    </table>
                    
                </div>
                <div class="section-top-border col-md-6">
                    <h3 class="mb-30">투자현황</h3>
                    <table style="font-size: 18px;">
                        <tr style=" background-color: #dddddd;">
                            <th style="white-space: nowrap;  background-color: #dddddd;">연도</th>
                            <th>투자내용</th>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;">2019년</td>
                            <td>마켓컬리 운영사 (주)컬리는 약 1000억원 규모의 시리즈 D 투자 유치에 성공했다.</td>
                        </tr>
                        <tr >
                            <td style="white-space: nowrap;">2018년</td>
                            <td>모바일 프리미엄 마트 ‘마켓컬리’의 운영사 컬리가 약 670억원 규모의 시리즈 C 투자 유치를 마무리 지었다.</td>
                        </tr>
        
                    </table>
                </div>
            </div>
            <div class="row text-black">
                <div class="section-top-border col-md-6" style="float:left; padding-right:15px;">
                    <h3 class="mb-30">성과/성장률</h3>
                    <table style="font-size: 18px; color: black;">
                        <tr>
                            <th style="white-space: nowrap;  background-color: #dddddd;">성장률</th>
                            <th>마켓컬리는 설립 이후 연평균 300%에 달하는 성장률을 기록하고 있다.</th>
                            <!-- <th>Country</th> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">성과</td>
                            <td>마켓컬리가 여타 물류센터와 다를 바 없는 물류 운영을 하는 것처럼 보이지만, 마켓컬리가 밝힌 성과는 눈부시다. 강 리더의 설명에 따르면 현재 마켓컬리의 서비스 정확도는 98~99%에 달한다. 부족한 1~2%에는
                            폐기율, 미출, 오출, 배송 지연(오전 7시 이후 배송) 등이 영향을 줬다.</td>
                        </tr>
                    </table>
                </div>
                <div class="section-top-border col-md-6">
                    <h3 class="mb-30">매출/손실</h3>
                    <table style="font-size: 18px;">
                        <tr style=" background-color: #dddddd;">
                            <th style="white-space: nowrap;  background-color: #dddddd;">구분</th>
                            <th>상세내용</th>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;" rowspan="2">매출/손실내용</td>
                            <td>마켓컬리의 연매출은 2015년 30억, 2016년 174억, 2017년 466억으로 성장한 데 이어 지난해 1500억을 돌파했다.</td>
                        </tr>
                        <tr>
                            <!-- <td style="white-space: nowrap;">2018년</td> -->
                            <td>마켓컬리의 영업손실 규모는 2015년 54억, 2016년 88억, 2017년 124억에 이어 지난해 337억으로 치솟았다.</td>
                        </tr>
                
                    </table>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-md-6" style="width:100%;  height:100%; ">
                    <h3 class="mb-30">뉴스 키워드분석</h3>
                    <img src="/static/img/word6.png">
                </div>
                <!-- <div class="col-md-6" style="width:100%;  height:100%; padding-top:15px;">
                    <h3 class="mb-30">기사로 보는 키워드 언급량</h3>
                    <img src="/static/img/g1_2.png">
                </div> -->
                <div class="col-md-6">
                    <h3 class="mb-30">연관이 높은 키워드</h3>
                    <table style="font-size: 18px;">
                        <tbody>
                            <tr style=" background-color: #dddddd;">
                                <th>순위</th>
                                <th>name</th>
                                <th>weight</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="white-space: nowrap;">소비자들</td>
                                <td>26.87</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="white-space: nowrap;">신선식품</td>
                                <td>23.06</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="white-space: nowrap;">식재료</td>
                                <td>18.81</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="white-space: nowrap;">쿠팡</td>
                                <td>17.43</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="white-space: nowrap;">기획전</td>
                                <td>16.72</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td style="white-space: nowrap;">다음날</td>
                                <td>16.10</td>
                            </tr>
            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 워드클라우드 -->
            <div class="section-top-border">
                <div class="row">
                    <div class="col-md-6" style="width:100%;  height:100%; padding-top:15px;">
                        <h3 class="mb-30">기사로 보는 기업 언급량</h3>
                        <img src="/static/img/g1_2.png">
                    </div>
                    <!-- <div class="col-md-6" style="width:100%;  height:100%; text-align:center; ">
                        <img src="/static/img/word6.png">
                    </div> -->
                    <div class="col-md-6">
                        <h3 class="mb-30">관련뉴스 - 경쟁사</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hankookilbo.com/">로켓배송·감성배달…쿠팡 `新물류` 온오프라인 경계 허문다</a></td>
                                    <td style="white-space: nowrap;">매일경제</td>
                                    <td>19.04.28</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hankookilbo.com/">'3조 적자' 쿠팡의 마지막 도전…100원 남기는 새벽배송</a></td>
                                    <td style="white-space: nowrap;">한국경제</td>
                                    <td>19.04.15</td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.hankookilbo.com/">쿠팡, 3900원 샐러드도 무료배송…5개월 만에 1위 마켓컬리 넘었다</a></td>
                                    <td style="white-space: nowrap;">조선일보</td>
                                    <td>19.03.25</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="mb-30" style="padding-top: 50px;">관련뉴스 - 성과</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">스타트업 뒤이어 대형 유통社도 가세…“연내 시장규모 1조원” 예상도</a>
                                    </td>
                                    <td style="white-space: nowrap;">문화일보</td>
                                    <td>19.04.17</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">지구 78바퀴 '샛별배송' 마켓컬리, 4년만에 매출 50배↑</a>
                                    </td>
                                    <td style="white-space: nowrap;">머니투데이</td>
                                    <td>19.04.17</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">새벽배송·에어프라이어 주52시간으로 더 뜬다</a>
                                    </td>
                                    <td style="white-space: nowrap;">매일경제</td>
                                    <td>19.02.25</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-md-6">
                        <div class="row">
                            <h3 class="mb-30">채용공고</h3>
                            <h5 style="margin-top:10px"><a href="https://marketkurly.recruiter.co.kr/app/jobnotice/list">▶채용공고 확인하러 가기</a></h5>
                        </div>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr>
                                    <th style="white-space: nowrap;  background-color: #dddddd;">수시</th>
                                    <th>마켓컬리 QA 테스트 엔지니어 채용</th>
                                    <th>19.04.01 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;">D-22</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>마켓컬리 Java 서버 개발자 채용</th>
                                    <th>19.04.01 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;">D-22</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>마켓컬리 PHP 서버 개발자 채용</th>
                                    <th>19.04.01 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;">D-22</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>마켓컬리 Java 시니어 서버 개발자 채용</th>
                                    <th>19.04.01 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;">D-22</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="mb-30">관련뉴스 - 비판적 이미지</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">신선식품 배송, 새벽 1시 출발… 도로는 뻥 뚫렸는데 1층 현관 못 들어가 발동동</a>
                                    </td>
                                    <td style="white-space: nowrap;">조선일보</td>
                                    <td>19.04.27</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">새벽배송은 비인간적 서비스일까…억울한 새벽배송</a>
                                    </td>
                                    <td style="white-space: nowrap;">디지털타임스</td>
                                    <td>19.03.27</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">마트 쉬면 온라인몰도 쉰다? 이상한 의무휴업</a>
                                    </td>
                                    <td style="white-space: nowrap;">머니투데이</td>
                                    <td>19.02.28</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- start footer Area -->		
        {% include 'mod/copyright.html' %}
        <!-- End footer Area -->
        <style>
            table {
                font-family: "Poppins", sans-serif;
                border-collapse: collapse;
                width: 100%;
                color: black;
            }
        
            td,th {
                border: 2px solid #858484;
                font-weight: bold;
                color: black;
                text-align: left;
                padding: 8px;
            }
            
            
        </style>
        {% include 'mod/foot.html' %}
    </body>
    <!-- tr:nth-child(even) {
    background-color: #dddddd;
    } -->
</html>