<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        {% include ['a.html','b.html','mod/head.html'] ignore missing %}
    </head>
    <body>

        {# 상단바 #}
        {% include 'mod/tophead.html' %}
        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white">
                            이스트 소프트
                        </h1>
                        <p class="text-white link-nav"><a href="index.html">Home </a> <span class="lnr lnr-arrow-right"></span>
                            <a href="elements.html"> 이스트소프트 </a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->
        <div class="container col-md-9" style="background: #f5f9ff;">
            <div class="row text-black">            
                <div class="section-top-border col-md-6"  style="float:left; padding-right:15px;">
                    <h3 class="mb-30">기업소개</h3>
                    <table style="font-size: 18px; color: black;">
                        <tr>
                            <th style="white-space: nowrap;  background-color: #dddddd;">기업명</th>
                            <th>이스트소프트</th>
                            <!-- <th>Country</th> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">주력업종</td>
                            <td>유틸리티(알툴즈 등), 보안(알약, 쓰렛인사이드 등), 포털(검색포털 줌닷컴, 뉴썸, 랄라 등), 게임(카발온라인, 카발M 등) 등</td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">사원수</td>
                            <td>170명</td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">주소</td>
                            <td>서울 서초구 반포대로 3 이스트빌딩</td>
                        </tr>
                    </table>
                    
                </div>
                <div class="section-top-border col-md-6">
                    <h3 class="mb-30">투자현황</h3>
                    <table style="font-size: 18px;">
                        <tr style=" background-color: #dddddd;">
                            <th style="white-space: nowrap;  background-color: #dddddd;">연도</th>
                            <th>투자내용</th>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;">2018년</td>
                            <td>이스트소프트는 26일 NHN엔터테인먼트가 제3자 배정 유상증자를 통해 이스트시큐리티 주식 19만2천주를 취득하는 방식으로 30억 원 규모의 전략적 투자를 유치했다고 밝혔다.</td>
                        </tr>
                        <tr >
                            <td style="white-space: nowrap;">2017년</td>
                            <td>이스트소프트는 지난해 국내 벤처캐피탈인 에이티넘인베스트먼트로부터 약 100억 원의 투자를 유치했다.</td>
                        </tr>
        
                    </table>
                </div>
            </div>
            <div class="row text-black">
                <div class="section-top-border col-md-6" style="float:left; padding-right:15px;">
                    <h3 class="mb-30">성과/성장률</h3>
                    <table style="font-size: 18px; color: black;">
                        <tr>
                            <th style="white-space: nowrap;  background-color: #dddddd;">성장률</th>
                            <th>이스트소프트는 2005년 매출액 53억과 순이익 6억원을 기록한 데 이어 2007년에도 매출액 128억에 순이익 29억원을 달성하는 등 3년간 142%의 높은 매출 성장률을 나타냈다</th>
                            <!-- <th>Country</th> -->
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">성과</td>
                            <td>기술을 활용한 미래 성장 동력 확보를 위해 보안 자회사 분사 및 금융, 커머스로의 사업확대, 개발 인력 확충 등 전폭적인 투자 기조 속에서도 매출액이 성장하고 영업적자 폭도 상당히 줄이는 성과를 거두었다"라고
                            밝혔다</td>
                        </tr>
                        <!-- <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">사원수</td>
                            <td>170명</td>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap; background-color: #dddddd;">주소</td>
                            <td>서울 서초구 반포대로 3 이스트빌딩</td>
                        </tr> -->
                    </table>
            
                </div>
                <div class="section-top-border col-md-6">
                    <h3 class="mb-30">매출/손실</h3>
                    <table style="font-size: 18px;">
                        <tr style=" background-color: #dddddd;">
                            <th style="white-space: nowrap;  background-color: #dddddd;">구분</th>
                            <th>상세내용</th>
                        </tr>
                        <tr>
                            <td style="white-space: nowrap;" rowspan="2">매출/손실내용</td>
                            <td>공시에 다르면 K-IFRS 연결재무제표 기준 2019년 1분기 매출액은 151억6,000만원, 영업이익은 -8억6,000만원을 기록했다</td>
                        </tr>
                        <tr>
                            <!-- <td style="white-space: nowrap;">2018년</td> -->
                            <td>2018년 상반기 매출은 316억 1,100만 원, 영업이익은 12억 9,000만 원이다</td>
                        </tr>
            
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="width:100%;  height:100%; ">
                    <h3 class="mb-30">뉴스 키워드분석</h3>
                    <img src="/static/img/word5.png">
                </div>
                <!-- <div class="col-md-6" style="width:100%;  height:100%; padding-top:15px;">
                                <h3 class="mb-30">기사로 보는 키워드 언급량</h3>
                                <img src="/static/img/g1_2.png">
                            </div> -->
                <div class="col-md-6">
                    <h3 class="mb-30">연관이 높은 키워드</h3>
                    <table style="font-size: 18px;">
                        <tbody>
                            <tr style=" background-color: #dddddd;">
                                <th>순위</th>
                                <th>name</th>
                                <th>weight</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td style="white-space: nowrap;">알집</td>
                                <td>35.22</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td style="white-space: nowrap;">카발 온라인</td>
                                <td>20.44</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td style="white-space: nowrap;">알툴즈</td>
                                <td>18.93</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td style="white-space: nowrap;">압수수색</td>
                                <td>16.77</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td style="white-space: nowrap;">거래일</td>
                                <td>14.87</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td style="white-space: nowrap;">SW</td>
                                <td>14.75</td>
                            </tr>
            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section-top-border">
                <!-- <h3>뉴스 분석</h3> -->
                <div class="row">
                    <div class="col-md-6" style="width:100%;  height:100%; padding-top:15px;">
                        <h3 class="mb-30">기사로 보는 기업 언급량</h3>
                        <img src="/static/img/g2_2.png">
                    </div>
                    <!-- <div class="col-md-6" style="width:100%;  height:100%; text-align:center; ">
                        <img src="/static/img/word5.png">
                    </div> -->
                    <div class="col-md-6">
                        <h3 class="mb-30">관련뉴스 - 경쟁사</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">[실적속보]이스트소프트, 올해 1Q 영업이익률 전분기보다 큰 폭으로 떨어져... -12.2%p↓ (연결,잠정)</a>
                                    </td>
                                    <td style="white-space: nowrap;">한국경제</td>
                                    <td>19.05.03</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">침체된 보안 시장, 탈출구를 찾아라④</a>
                                    </td>
                                    <td style="white-space: nowrap;">데이터넷</td>
                                    <td>18.12.06</td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">마트 쉬면 온라인몰도 쉰다? 이상한 의무휴업</a>
                                    </td>
                                    <td style="white-space: nowrap;">머니투데이</td>
                                    <td>19.02.28</td>
                                </tr> -->
                            </tbody>
                        </table>
                        <h3 class="mb-30" style="padding-top: 50px;">관련뉴스 - 성과</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">이스트소프트, 영업이익 22억원…흑자전환</a>
                                    </td>
                                    <td style="white-space: nowrap;">매일경제</td>
                                    <td>19.03.11</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">초연결 지능화 시대 이끌 ‘100대 혁신기업’ 들여다보니... 빅데이터·네트워크·AI 기업 주목</a>
                                    </td>
                                    <td style="white-space: nowrap;">매일경제</td>
                                    <td>19.03.06</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">이스트소프트 자회사 `줌인터넷` 코스닥 상장 예비심사 승인</a>
                                    </td>
                                    <td style="white-space: nowrap;">디지털 타임스</td>
                                    <td>19.02.15</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-md-6">
                        <div class="row">
                            <h3 class="mb-30">채용공고</h3>
                            <h5 style="margin-top:10px"><a href="https://marketkurly.recruiter.co.kr/app/jobnotice/list">▶채용공고 확인하러 가기</a></h5>
                        </div>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr>
                                    <th style="white-space: nowrap;  background-color: #dddddd;">수시</th>
                                    <th>
                                        헤지펀드운용팀 운용지원 담당자</th>
                                    <th style="white-space: nowrap;">19.05.09 ~ 19.06.30</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;white-space: nowrap;">D-48</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>
                                        DeepEye 온라인 안경 쇼핑몰 MD (경력)</th>
                                    <th style="white-space: nowrap;">19.05.02 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;">D-18</th>                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>
                                        데이터 보안 클라이언트 개발 (경력)</th>
                                    <th style="white-space: nowrap;">19.04.29 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white;white-space: nowrap;">D-18</th>
                                </tr>
                                <tr>
                                    <th style="white-space: nowrap; background-color: #dddddd;">수시</th>
                                    <th>
                                        ESTsoft 사업기획 (경력)</th>
                                    <th>19.04.26 ~ 19.05.31</th>
                                    <th class="genric-btn danger" style="border: 2px solid white; white-space: nowrap;">D-18</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="mb-30">관련뉴스 - 비판적 이미지</h3>
                        <table style="font-size: 18px;">
                            <tbody>
                                <tr style=" background-color: #dddddd;">
                                    <th>제목</th>
                                    <th>출처</th>
                                    <th>등록일</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">방통위, '개인정보 유출' 이스트소프트에 과징금 1억</a>
                                    </td>
                                    <td style="white-space: nowrap;">아이뉴스24</td>
                                    <td>18.03.28</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">"현 정부의 탈핵 정책 비판하는 내용의 악성 파일 유포 정황" 이스트소프트 경고</a>
                                    </td>
                                    <td style="white-space: nowrap;">CIO Korea</td>
                                    <td>17.08.31</td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.hankookilbo.com/">[미운우리주식]'설상가상' 이스트소프트...주가 1/4 토막에도 '깜깜이 투자'</a>
                                    </td>
                                    <td style="white-space: nowrap;">MTN</td>
                                    <td>17.09.12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
        
        <!-- start footer Area -->		
        {% include 'mod/copyright.html' %}
        <!-- End footer Area -->
        <style>
            table {
                font-family: "Poppins", sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
        
            td,th,tr {
                border: 2px solid #858484;
                color : black;
                font-weight: bold;
                text-align: left;
                padding: 8px;
            }
            
            
        </style>
        {% include 'mod/foot.html' %}
    </body>
    <!-- tr:nth-child(even) {
    background-color: #dddddd;
    } -->
</html>